@model ProExam.Models.LoginInfo


<div class="close-btn"><a onclick="dongPopup()"><i class="fa-solid fa-x"></i></a></div>

@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    <h2>Login</h2>
    <div class="form-element">
        <label for="usercode">Usercode</label>
        @Html.TextBoxFor(model => model.UserCode, new { @placeholder = "Enter usercode", @class = "form-control" })

    </div>
    <div class="form-element">
        <label for="password">Password</label>
        @Html.PasswordFor(model => model.Password, new { @placeholder = "Enter password", @class = "form-control" })
    </div>

    <div class="form-element">
        <button type="submit">Sign in</button>
    </div>
    <div class="form-element">
        <a href="">Forgot password?</a>
    </div>
}
