@model ProExam.Models.LoginInfo


@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    <div class="form-label">
        <button class="btn-close_popup">
            <i class="fa-solid fa-xmark"></i>
        </button>
        <h1>ĐĂNG NHẬP</h1>
    </div>
    <div class="input-section">
        <div class="form-section">
            <h4>User Code:</h4>
            @Html.TextBoxFor(model => model.UserCode, new { @class = "form-control" })
        </div>
        <div class="form-section">
            <h4>Password:</h4>
            @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
        </div>
        <div class="form-section">
            <button type="submit" class="btn-login">Đăng nhập</button>
        </div>
    </div>
}
